*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

# Project exclude paths
/easeui/build/
/easeui/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/